#section1 {
  background: black;
  height: 150vh;
  padding-top: 30px;
}
img {
  padding-left: 20px;
  width: 27%;
  border-radius: 50%;
  float: left;
}
p {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  font-size: x-large;
}
/* for screen width smaller than 560px */
@media (max-width: 560px) {
  p {
    font-size: 4.5vw !important;
  }
}
/* for screen samller than 1024px */
@media (max-width: 1024px) {
  img {
    width: 40%;
    /* height: 200px; */
    border-radius: 50%;
    float: none;
    padding-top: 0;
    padding-left: 0;
    border: 10px solid yellow;
  }
  p {
    padding-top: 0;
    font-size: 4vw;
  }
  section {
    padding-top: 10px;
  }
}
div {
  text-align: center;
}
em {
  color: rgb(206, 206, 11);
  font-style: normal;
}
