body {
  background-color: black;
}
#section1 {
  background: black;
  height: auto;
  padding-top: 30px;
}
img {
  margin-left: 20px;
  width: 27%;
  border-radius: 50%;
  float: left;
  border-bottom: 8px solid yellow !important;
  border: 8px solid black;
}
#firstParagraph {
  padding-top: 7vh;
}
p {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
  padding: 0px;
}
div {
  text-align: center;
}
em {
  color: rgb(206, 206, 11);
  font-style: normal;
}
#hr1 {
  margin-top: 14%;
  width: 65vw;
  border: 1px solid white;
}
#hr2 {
  margin-top: 2%;
  width: 65vw;
  border: 1px solid white;
}
.paragraphContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  margin: 0%;
  padding: 0 !important;
  margin: 0%;
  column-gap: 0px;
}
.paragraphContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.imgContainer {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: 1fr 1fr 1fr;
}
#portfolioImage {
  width: 30vw;
  border-radius: 0%;
  border-bottom: none !important;
}
h1 {
  color: white;
  text-align: center;
  font-size: 3.5vw;
  margin-bottom: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* for Galaxy Z fold */
@media (max-width: 360px) {
  img {
    border: 3px solid black;
    border-bottom: 3px solid yellow !important;
  }
  #firstParagraph {
    padding-top: 0vh !important;
  }
}
/* Screens that has a width of less than 560 px (Most mobile screens and some i Pads) */
@media (max-width: 560px) {
  p {
    /* font-size: 4.5vw; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #firstParagraph {
    padding-top: 0vh;
  }
  .paragraphContainer {
    display: block !important;
  }
  .paragraphContainer2 {
    display: block !important;
  }
  #hr1 {
    margin-top: 8%;
  }
}
/* for screen samller than 1024px */
@media (max-width: 1024px) {
  img {
    width: 40%;
    /* height: 200px; */
    border-radius: 50%;
    float: none;
    padding-top: 0;
    padding-left: 0;
    border: 8px solid black;
    border-bottom: 8px solid rgb(216, 216, 62);
  }
  #hr1 {
    margin-top: 6%;
  }
  .imgContainer {
    display: block !important;
  }
  #portfolioImage {
    width: 50vw !important;
    border-radius: 0%;
    border: none;
    border-bottom: none !important;
  }
  .paragraphContainer {
    display: block !important;
  }
  p {
    padding-top: 0;
    font-size: 3.5vw !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  section {
    padding-top: 10px;
  }
  .Container3 {
    display: block !important;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.Container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Container3Div {
  color: red;
  border: 1px solid red;
}
h4 {
  color: white;
  text-align: center !important;
  font-size: x-large;
}
.Container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#hr4 {
  color: white;
  width: 65vw;
  border: 1px solid white;
  margin-top: 20px;
}
